body {
  font-family: system-ui;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.container button {
  padding: 15px;
  border: 1px solid rgb(199, 199, 199);
  margin-right: 5px;
  cursor: pointer;
  background-color: hsla(298, 100%, 49%, 0.158);
  transition: background-color 0.15s;
}

.container button:hover {
  background-color: hsla(303, 76%, 50%, 0.555);
}

.container button:active {
  background-color: hsla(189, 76%, 50%, 0.363);
}

.result {
  max-width: 600px;
  padding: 20px 30px;
  display: grid;
  border: 1px solid rgb(209, 209, 209);
  background-color: hsla(187, 94%, 50%, 0.089);
  text-align: center;
}

.row1,
.row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  margin: 0px;
}
.row1 {
  background-color: rgba(255, 112, 56, 0.11);
}
.row2 {
  margin-top: -5px;
  font-weight: 600;
  color: purple;
  background-color: hsla(219, 87%, 56%, 0.11);
}
.row3 {
  width: 300px;
  border-radius: 5px;
  margin-top: -5px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  background-color: rgba(65, 250, 28, 0.397);
  color: purple;
  font-weight: 600;
}
#message {
  padding: 10px;
  color: purple;
  font-weight: 600;
}